.white {color: white !important;}
.black {color: #363636 !important;}
.red {color: #e4092d !important;}
.blue {color: #00b5ef !important;}
.green {color: #8eb607 !important;}
.yellow {color: #f9db2f !important;}
.navy{ color: #304e79 !important;}
.gray{ color: #999999 !important;}

navy_bg {background-color: #304e79 !important;}